<p>HABILIDADES</p>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">storage</mat-icon>
      BASE DE DATOS
    </ng-template>
    Administración y Gestión de motores de Base de datos
    <mat-list>
      <div mat-subheader>RELACIONALES</div>
      <mat-list-item >
        <mat-icon mat-list-icon>archive</mat-icon>
        <div mat-line>SQL SERVER</div>
        <div mat-line> MYSQL</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>NO RELACIONALES</div>
      <mat-list-item>
        <mat-icon mat-list-icon>archive</mat-icon>
        <div mat-line>Mongo DB</div>
      </mat-list-item>
    </mat-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">terminal</mat-icon>
       Programación
    </ng-template>
    HTML - CSS - JS <br>
    ANGULAR <br>
    .NET <br>
    ...
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">support_agent</mat-icon>
      Soporte
    </ng-template>
    Active directory, administración de servidores,...
  </mat-tab>
</mat-tab-group>
