<h1>PRESENTACIÓN</h1>
<!--
Desarrollador de software con experiencia en diseño, instalación, pruebas y mantenimiento de sistemas de software. Dominio de varias plataformas, lenguajes y sistemas integrados. Experiencia en las herramientas y procedimientos de desarrollo más vanguardistas. Capaz de autogestión eficaz en proyectos independientes. Buenas habilidades de colaboración dentro de un equipo productivo. -->

<div class="contenedor">
  <div class="contenedor-item">
  <mat-card class="example-card">
  <mat-card-title>PROFESIONALES</mat-card-title>
  <mat-card-subtitle>DESARROLLADOR</mat-card-subtitle>
  <mat-card-content>
    <p>Desarrollador de software con experiencia en diseño,
      instalación, pruebas y mantenimiento de sistemas
       de software. Dominio de varias plataformas,
       lenguajes y sistemas integrados. Experiencia
       en las herramientas y procedimientos de desarrollo
       más vanguardistas. Capaz de autogestión eficaz
       en proyectos independientes.
    </p>
  </mat-card-content>

  <mat-card-subtitle>SOPORTE</mat-card-subtitle>
  <mat-card-content>
    <p>
      Brindo asistencia en la correcta instalación,
      mantenimiento y funcionamiento de todos los recursos
      tecnológicos, y por la entrega efectiva, oportuna y
      continua de servicios de soporte técnico y de usuario a
       las diferentes áreas de la empresa, manteniendo un enfoque
       de calidad, trabajo en equipo y servicio al cliente.
    </p>
  </mat-card-content>
</mat-card>
  </div>
  <div class="contenedor-item">
    <mat-card class="example-card">
      <mat-card-title>PERSONALES</mat-card-title>
      <mat-card-subtitle>HABILIDADES BLANDAS</mat-card-subtitle>
      <mat-card-content>
        <p>"La resolución colaborativa de problemas es una
          habilidad esencial en la fuerza laboral y en la
          comunidad porque muchos de los problemas que se
          enfrentan en el mundo moderno requieren que los
          equipos integren los logros del grupo con el
          conocimiento idiosincrásico de los miembros del
          equipo", explican los investigadores de dicha casa
          de estudios.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="contenedor-item">

  </div>
</div>
